name: Transfer Container Registry

on:
  workflow_dispatch:
    inputs:
      oldImage:
        description: 'Image name to pull docker.pkg.github.com/user/repo/(image)'
        required: true
        default: '${{ github.repository }}/image'
      newImage:
        description: 'Image name to save ghcr.io/account/(image name)'
        required: true
        default: '${{ github.repository }}'
      oldRegistry:
        description: 'Old registry service. Defaults to docker.pkg.github.com'
        default: 'docker.pkg.github.com'
      newRegistry:
        description: 'New registry service. Defaults to ghcr.io'
        default: 'ghcr.io'

# TODO: Add secrets NEW_REGISTRY_AUTH to your repo secrets
env:
  NEW_REGISTRY: ${{ inputs.newRegistry }}
  NEW_REGISTRY_USER: ${{ github.actor }}
  NEW_REGISTRY_AUTH: ${{ secrets.NEW_REGISTRY_AUTH }}
  OLD_REGISTRY: ${{ inputs.oldRegistry }}
  OLD_REGISTRY_USER: ${{ github.actor }}
  OLD_REGISTRY_AUTH: ${{ github.token }}

jobs:

  transfer:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/github-script
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { graphql } = require("@octokit/graphql");
            const graphqlWithAuth = graphql.defaults({
              headers: {
                authorization: `token ${{ github.token }}`,
              },
            });

      - uses: docker/login-action@v1
        with:
          username: ${{ env.OLD_REGISTRY_USER }}
          password: ${{ env.OLD_REGISTRY_AUTH }}
          registry: ${{ env.OLD_REGISTRY }}

      - uses: docker/login-action@v1
        with:
          username: ${{ env.NEW_REGISTRY_USER }}
          password: ${{ env.NEW_REGISTRY_AUTH }}
          registry: ${{ env.NEW_REGISTRY }}

      - run: |
          for TAG in latest
          do
            docker pull $OLD_REGISTRY/${{ github.event.inputs.oldImage }}:${TAG}
          done

      - run: |
          for TAG in latest
          do
            docker tag ${OLD_REGISTRY}/${{ github.repository }}/${{ github.event.inputs.oldImage }}:${TAG} \
                       ${NEW_REGISTRY}/${{ github.repository_owner }}/${{ github.event.inputs.newImage }}:${TAG}
          done

      - run: |
          for TAG in latest
          do
            docker push ${NEW_REGISTRY}/${{ github.repository_owner }}/${{ github.event.inputs.newImage }}:${TAG}
          done
