name: Docker v1

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: testing
  REGISTRY: docker.pkg.github.com

jobs:
  build-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Prepare
        id: today
        run: |
          DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          echo ::set-output name=build_date::${DATE}
          echo ::set-output name=image::${IMAGE_NAME}-${DATE}

      - name: Docker v1 Login
        run: echo $TOKEN | docker login -u $USER --password-stdin $REGISTRY
        env:
          TOKEN: ${{ github.token }}
          USER: ${{ github.actor }}

      - name: Docker v1 Build
        env:
          IMAGE: ${{ steps.prep.outputs.image }}
        run: docker build -f Dockerfile -t $REGISTRY/${{ github.repository }}/$IMAGE:latest .


      - name: Docker v1 Tag
        env:
          IMAGE: ${{ steps.prep.outputs.image }}
        run: |
          for VERSION in dev edge nightly
          do
            docker tag $REGISTRY/${{ github.repository }}/$IMAGE:latest $REGISTRY/${{ github.repository }}/$IMAGE:$VERSION
          done

      - name: Docker v1 Publish
        env:
          IMAGE: ${{ steps.prep.outputs.image }}
        run: |
          for VERSION in latest dev edge nightly
          do
            docker publish $REGISTRY/${{ github.repository }}/$IMAGE:$VERSION
          done
